
body {
	font-family: arial;
	color: #fff;
	background-color: #1c1c1c;
}

main {
	padding: 60px 40px;
}

pre {
	font-family: consolas;
}

h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 40px;
}

p {
	margin-bottom: 10px;
}

section {
	margin-bottom: 40px;
}

a {
	color: white;
}


/* Colour Panels
=============================================================================*/

.color-panels {
	display: flex;
    flex-wrap: wrap;
}

.color-panel {
	margin-bottom: 10px;
	position: relative;
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    margin-right: 10px;
    width: 15%;
}

.color-label {
	background-color: #282828;
	padding: 5px;
	width: 100%;
}

.color-value {
	font-family: consolas;
	font-size: 12px;
	margin-bottom: 10px;
	display: inline-block;
}

.color-value--hex,
.color-value--rgb {
	opacity: 0;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.3);
}

.color-value--hex {
	left: 0;
}

.color-value--rgb {
	right: 0;
}

.color-panel:hover .color-value--hex,
.color-panel:hover .color-value--rgb {
	opacity: 1;
}
